<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/member_register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>Ajouter membre</title>
</head>

<body>
    <div class="fade-in"></div>
    <header>
        <div id="logoContainer">
            <img src="img/login/logo.png" alt="image du logo easy club manager" width="400px">
        </div>
        <div class="navContainer">
            <ul id="navList">
                <li class="navItem"><a href="/dashboard" class="navLink">CLUBS</a></li>
                <li class="navItem"><a href="/updateprofile" class="navLink">PROFILE</a></li>
                <li class="navItem"><a href="/logout" class="navLink">LOGOUT</a></li>
            </ul>
            <div id="picContainer"><img src="{{ userDisplayablePic }}" alt="votre photo de profil" width="50px"
                    height="50px"></div>
        </div>
        </div>
    </header>
    <main>
        <div id="speechContainer">
            {% if team %}
            <h1>Ajoutez un membre à l'équipe {{ team.teamName }}</h1>
            {% else %}
            <h1>Ajoutez un membre au club {{ club.clubName }}</h1>
            {% endif %}
            {# Nous affichons les erreurs ici #}
            {% if errorMessage %}
            <div class="alert alert-danger" role="alert">
                {{ errorMessage }}
            </div>
            {% endif %}
            {% if error is defined and error is not empty %}
            <div class="errorMsg">
                {% for errorMessage in error %}
                <p>{{ errorMessage }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="formContainer">
            <img src="img/member_register/member_register_window.png" alt="formulaire d'inscription">
            <form action="/addmember" method="post" enctype="multipart/form-data">
                <input type="text" name="memberFirstname" id="memberFirstame" class="formField"
                    placeholder="Prénon du membre *" style="font-family: Roboto, sans-serif;">
                <input type="text" name="memberName" id="memberName" class="formField" placeholder="Nom du membre *"
                    style="font-family: Roboto, sans-serif;">
                <input type="text" name="memberBirthdate" id="memberBirthdate" class="formField"
                    placeholder="jj/mm/aaaa *" style="font-family: Roboto, sans-serif;">
                <input type="text" name="memberEmail" id="memberEmail" class="formField" placeholder="Email du membre *"
                    style="font-family: Roboto, sans-serif;">
                <input type="password" name="memberPassword" id="memberPassword" class="formField"
                    placeholder="Mot de passe *" style="font-family: Roboto, sans-serif;">
                <input type="password" name="memberPasswordConfirm" id="memberPasswordConfirm" class="formField"
                    placeholder="Confirmer mot de passe *" style="font-family: Roboto, sans-serif;">
                <input type="text" name="memberPhone" id="memberPhone" class="formField" placeholder="Téléphone"
                    style="font-family: Roboto, sans-serif;">
                <input type="text" name="memberRole" id="memberRole" class="formField" placeholder="Rôle du membre"
                    style="font-family: Roboto, sans-serif;">
                <input type="text" name="clubId" id="clubId" class="hidden" value="{{ club._id }}">
                <input type="text" name="teamId" id="teamId" class="hidden" value="{{ team._id }}">
                <button type="submit" id="btnRegister" class="formButton"
                    style="font-family: Roboto, sans-serif;">Ajouter un membre</button>
                <label for="fileRegister">
                    <input type="file" name="picture" id="fileRegister" class="formField" placeholder="Upload picture"
                        style="font-family: Roboto, sans-serif;">
                    <span>AJOUTER IMAGE</span>
                </label>
            </form>
        </div>
    </main>
    <footer>

    </footer>
    <script>
        window.onload = function () {
            setTimeout(function () {
                document.querySelector('.fade-in').classList.add('hidden');

            }, 300); // Sort la div du fade in du flux au bout de 0.8s
        }
    </script>
</body>

</html>