<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/club_members.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>All members</title>
</head>

<body>
    <div class="fade-in"></div>
    <header>
        <div id="logoContainer">
            <img src="img/login/logo.png" alt="image du logo easy club manager" width="400px">
        </div>
        <div class="navContainer">
            <ul id="navList">
                <li class="navItem"><a href="/dashboard" class="navLink">CLUBS</a></li>
                <li class="navItem"><a href="/clubmembers" class="navlik">MEMBERS</a></li>
                <li class="navItem"><a href="/updateprofile" class="navLink">PROFILE</a></li>
                <li class="navItem"><a href="/logout" class="navLink">LOGOUT</a></li>
            </ul>
            <div id="picContainer"><img src="{{ userDisplayablePic }}" alt="votre photo de profil" width="50px"
                    height="50px"></div>
        </div>
        </div>
    </header>
    <main>
        {% if memberCollection|length > 0 %}
        <h1>Bienvenue {{ user.firstname }} ici visualisez tous les membres de vos clubs</h1>
        <div id="mainContainer">
            {# si l'utilisateur possède des membres dans memberCollection #}
            {% for member in memberCollection %}
            <div class="memberCard">
                <div class="memberPicContainer">
                    <img src="{{ member.memberPicture }}" alt="image du membre" width="50px">
                </div>
                <h2>{{ member.memberName }} {{ member.memberFirstname }}</h2>
                {# Pour supprimer le membre #}
                <form action="/deletemember" method="post">
                    <input type="hidden" name="memberId" value="{{ member._id }}">
                    <button type="submit" class="memberButton" style="font-family: Roboto, sans-serif;">Supprimer le
                        membre</button>
                </form>
            </div>
            {% endfor %}
            {# si l'utilisateur ne possède pas de membres dans memberCollection #}
            {% else %}
            <p class="preventMsg">il semble qu'il n'y ait pas de membres dans vos clubs, veuillez en ajouter pour les visualiser ici</h1>
            {% endif %}
            </p>
        </div>
    </main>
    <footer>
        <div id="footerContainer">
            <p>© 2024 Easy Club Manager</p>
        </div>
    </footer>
    <script>
        window.onload = function () {
            setTimeout(function () {
                document.querySelector('.fade-in').classList.add('hidden');

            }, 300); // Sort la div du fade in du flux au bout de 0.3s
        }
    </script>
</body>

</html>